DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
LOGO_URL=https://i.imgur.com/your_logo.png

# Your Discord user ID (right click yourself > Copy User ID with developer mode on)
OWNER_ID=your_discord_user_id_here

# The channel ID where game results get logged automatically
# (right click the channel > Copy Channel ID with developer mode on)
LOG_CHANNEL_ID=your_log_channel_id_here
